extends ./layout/_admin.pug

block content
  -
    var project = {
      "data": [
        { 'name': 'af', 'title': 'AFTRS' },
        { 'name': 'bc', 'title': 'British Council' },
        { 'name': 'cl', 'title': 'Core Logic' },
        { 'name': 'dp', 'title': 'Drinkpoint' },
        { 'name': 'fe', 'title': 'Forms Express' },
        { 'name': 'fmc', 'title': 'FitMyCar' },
        { 'name': 'gs', 'title': 'Studylane/GSP' },
        { 'name': 'hr', 'title': 'Health RFID' },
        { 'name': 'mhp', 'title': 'M Health Pharma' },
        { 'name': 'nu', 'title': 'Nutra Organics' },
        { 'name': 'pd', 'title': 'Pundit' },
        { 'name': 'pi', 'title': 'PIQ' },
        { 'name': 'tq', 'title': 'Tafe Queensland' },
        { 'name': 'wc', 'title': 'Whitecliffe' },
        { 'name': 'hp', 'title': 'Happi' },
        { 'name': 'am', 'title': 'Amgrow' },
        { 'name': 'wmu', 'title': 'World Maritime University' },
        { 'name': 'ins', 'title': 'INSTEP' },
        { 'name': 'mb', 'title': 'My Bonsai Diary' },
        { 'name': 'cx', 'title': 'ConvX' },
        { 'name': 'td', 'title': 'TechDirect' },
        { 'name': 'piq', 'title': 'PropertyIQ' },
        { 'name': 'adv', 'title': 'Advisor-E' },
        { 'name': 'adlf', 'title': 'ADL Forms' },
        { 'name': 'adli', 'title': 'ADL Inspect' },
        { 'name': 'lmdc', 'title': 'Love My Dog Club' },
        { 'name': 'pwb', 'title': 'Persons Without Borders' },
        { 'name': 'rr', 'title': 'Rent Rabbit' },
        { 'name': 'ys', 'title': 'Yardstick' },
        { 'name': 'oa', 'title': 'OAC' },
        { 'name': 'tgx', 'title': 'Telegenixx' },
        { 'name': 'ahc', 'title': 'Agile Help Center' },
        { 'name': 'et', 'title': 'EmpowerTeams' },
        { 'name': 'or', 'title': 'Oreana' }
      ],
      "outage": [
        't_pre_release',
        't_runsheet',
        't_pre_release_checklist',
        't_smoke',
        't_regression',
        't_post_release'
      ]
    }

  include ./includes/_aside.pug

  .admin-wrap
    .container.is-fluid

      .content
        h3.title.is-3 Email Templates

        table.table
          thead
            tr
              th PROJECT
              th.has-text-centered Pre-release
              th.has-text-centered Runsheet
              th.has-text-centered Pre-release Checklist
              th.has-text-centered Smoke
              th.has-text-centered Regression
              th.has-text-centered Post-release
            //-tr
          //-thead

          tbody
            each val, index in project.data
              tr
                td= project.data[index].title
                each val in project.outage
                  td.has-text-centered
                    a(href="//tr-email-template.netlify.com/"+project.data[index].name+"/"+val+".html", target="_blank", class="livepreview", data-position="bottom")
                      i.fas.fa-download
                    //-a
                  //-td
                // each
              //-tr
            // each
          //-tbody
        //-table

      //- content

    //- container
  //- section

block scripts
  script.
    $(document).ready(function() {
      $(".livepreview").livePreview();
    });
