extends ./layout/_admin.pug

block content
  -
    var project = {
      "data": [
        { 'name': 'af', 'title': 'AFTRS' },
        { 'name': 'bc', 'title': 'British Council' },
        { 'name': 'cl', 'title': 'Core Logic' },
        { 'name': 'dp', 'title': 'Drinkpoint' },
        { 'name': 'fe', 'title': 'Forms Express' },
        { 'name': 'fmc', 'title': 'FitMyCar' },
        { 'name': 'gs', 'title': 'Studylane/GSP' },
        { 'name': 'hr', 'title': 'Health RFID' },
        { 'name': 'mhp', 'title': 'M Health Pharma' },
        { 'name': 'nu', 'title': 'Nutra Organics' },
        { 'name': 'pd', 'title': 'Pundit' },
        { 'name': 'pi', 'title': 'PIQ' },
        { 'name': 'tq', 'title': 'Tafe Queensland' },
        { 'name': 'wc', 'title': 'Whitecliffe' },
        { 'name': 'hp', 'title': 'Happi' },
        { 'name': 'am', 'title': 'Amgrow' },
        { 'name': 'wmu', 'title': 'World Maritime University' },
        { 'name': 'ins', 'title': 'INSTEP' },
        { 'name': 'mb', 'title': 'My Bonsai Diary' },
        { 'name': 'cx', 'title': 'ConvX' },
        { 'name': 'td', 'title': 'TechDirect' }
      ],
      "outage": [
        't_devops',
        't_regression',
        't_runsheet_2',
        't_runsheet',
        't_smoke_pre_release',
        't_smoke'
      ]
    }
  
  include ./includes/_aside.pug
  
  .admin-wrap
    .container.is-fluid
      
      .content
        h3.title.is-3 Email Templates
        
        table.table
          thead
            tr
              th.text-center PROJECT
              th.text-center Devops
              th.text-center Regression
              th.text-center Runsheet 2
              th.text-center Runsheet
              th.text-center Smoke Pre-release
              th.text-center Smoke
            //-tr
          //-thead
          
          tbody
            each val, index in project.data
              tr
                td= project.data[index].title
                each val in project.outage
                  td.text-center
                    a.text-success(href="//ttstatic.github.io/outage/"+project.data[index].name+"/"+val+".html", target="_blank", class="livepreview", data-position="bottom")
                      i.fas.fa-download
                    //-a
                  //-td
              //-tr
            //-each
          //-tbody
        //-table
        
      //- content
      
    //- container
  //- section

block scripts
  script.
    $(document).ready(function() { 
      $(".livepreview").livePreview();
    });
