@import '_admin';
@import '_override';

html {
  font-size: .75rem;
}
body {
  // font-family: 'Open Sans Condensed', sans-serif;

}
h1, h2, h3, h4, h5 {
  // font-family: 'Amatic SC', cursive;
}
.lead {
  // font-family: 'Amatic SC', cursive;
}

// =============================================================================[ CUSTOM CSS ]

// =========================================[ NAV ]
nav {
  & {

  }
  &.navbar {
    & {
      // background: transparent url(../../assets/images/blackboard.jpg) center top;
      // background-color: #333333;
      background-size: cover;
      // border-bottom: 5px solid rgba(0,0,0,.1);
    }
    .navbar-brand {
      a {
        padding-top: 0;
        padding-bottom: 0;
      }
    }
    .navbar-item {
      // font-family: 'Amatic SC', cursive;
      // font-size: 1.2rem;
    }
    div.navbar-item {
      @include touch {
        // background: #00a077;
      }
    }
  }
}

// =========================================[ SECTION ]
section {
  & {

  }
}


// =========================================[ FOOTER ]
footer {
  &, a {
    color: white;
  }
}
