aside.menu.--admin(v-bind:class="[{'visible': isVisible}, {'mobile': isMobile}]")
  .admin-logo.is-hidden-touch(data-brand="ToolTwist", data-service="Wiki")
    img(src='assets/images/logo.png', alt='ToolTwist Wiki')
  //- admin-logo
  .menu-wrap
    p.menu-label
      | Menu
    //- p
    ul.menu-list
      li
        a.is-active(href='dashboard.html')
          i.far.fa-envelope-open
          | Email Templates
      //- li
    //- ul
  //- menu-wrap
//- aside

include _topbar.pug
