aside.menu.--admin(v-bind:class="[{'visible': isVisible}, {'mobile': isMobile}]")
  .admin-logo.is-hidden-touch
    .logo(data-brand="ToolTwist", data-service="Wiki")
      img(src='assets/images/logo.png', alt='ToolTwist Wiki')
    //- logo
  //- admin-logo
  .menu-wrap
    p.menu-label
      | Menu
    //- p
    ul.menu-list
      li
        a(href='dashboard.html')
          i.far.fa-envelope-open
          | Email Templates
        //- a
      //- li
    //- ul
    p.menu-label
      | Other
    //- p
    ul.menu-list
      li
        a(href='//github.com/doodledudes/skeleton-pug-sass/tree/dev-bulma', target='_blank')
          i.fas.fa-code
          | Static Page Generator
        //- a
      //- li
      li
        a(href='//github.com/doodledudes/nx-advisor-e', target='_blank')
          i.fab.fa-vuejs
          | Sample Nuxt Setup
        //- a
      //- li
      li
        a(href='//github.com/doodledudes/skeleton-pug-sass/tree/template-dashboard', target='_blank')
          i.fas.fa-tachometer-alt
          | Generic Dashboard
        //- a
      //- li
    //- ul
  //- menu-wrap
//- aside

include _topbar.pug
