aside.menu.--admin(v-bind:class="[{'visible': isVisible}, {'mobile': isMobile}]")
  .admin-logo.is-hidden-touch
    .logo(data-brand="ToolTwist", data-service="Wiki")
      img(src='assets/images/logo.png', alt='ToolTwist Wiki')
    //- logo
  //- admin-logo
  .menu-wrap
    p.menu-label
      | Menu
    //- p
    ul.menu-list
      li
        a(href='dashboard.html')
          i.far.fa-envelope-open
          | Email Templates
        //- a
      //- li
    //- ul
    p.menu-label
      | Other
    //- p
    ul.menu-list
      li
        a(href='//ttstatic.github.io/themepalette/', target='_blank')
          i.fas.fa-palette
          | Theme Palette
        //- a
      //- li
    //- ul
  //- menu-wrap
//- aside

include _topbar.pug
